* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --main-dark-color: #293264;
  --main-light-color: #F5F7FB;
  --secondary-dark-color: #4D5B9E;
}

#root {
  margin: 0 auto;
}

#big-yellow-blob, #small-yellow-blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

#big-blue-blob, #small-blue-blob {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

main {
  height: 100vh;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 0.9em;

  font-family: 'Karla', sans-serif;
  color: var(--main-dark-color);
  font-family: Karla;
  font-weight: 700;
  font-size: 1.94rem;
  line-height: 1.2
}

button {
  cursor: pointer;

  font-weight: 500;
  line-height: 1.2;
}

.main-btn {
  width: 30%;
  background-color: var(--secondary-dark-color);
  padding: 1em 1.75em;
  border: none;
  border-radius: 15px;

  color: var(--main-light-color);
}

.quiz {
  width: 100%;
}

.question-wrapper {
  padding-bottom: 0.9em;
  border-bottom: 1px solid #DBDEF0;
}

.question {
  margin-bottom: 0.75em;

  font-family: Karla;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--main-dark-color);
}

.answers-wrapper {
  display: flex;
  align-items: center;
}

.answer-btn {
  background-color: transparent;
  margin-right: 1.2em;
  border: 1px solid var(--secondary-dark-color);
  border-radius: 8px;
  padding: .5em 1.75em;

  font-size: 0.63em;
  color: var(--main-dark-color);
}